.bounds {
    padding: 0 5%;
}
@media screen and (max-width: 991px) {
    .bounds {
        padding: 0 12px;
    }
}
.grid-view .catalog-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
}
@media screen and (max-width: 850px) {
    .grid-view .catalog-view {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .grid-view .catalog-view {
        grid-template-columns: 1fr;
    }
}
@keyframes example {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.society-logo {
    width: 250px;
}
@media screen and (max-width: 767px) {
    .society-logo {
        width: 150px;
    }
}